---
import Section from "../Section.astro";
import Git from "@/icons/git.astro";
import GitHub from "@/icons/github.astro";
import Python from "@/icons/python.astro";
import FastAPI from "@/icons/fastapi.astro";
import PostgreSQL from "@/icons/postgresql.astro";
import Docker from "@/icons/docker.astro";
import Linux from "@/icons/linux.astro";
import VSCode from "@/icons/vscode.astro";
import ScikitLearn from "@/icons/scikitlearn.astro";
import AWS from "@/icons/aws.astro";
import Streamlit from "@/icons/streamlit.astro";
import Airflow from "@/icons/airflow.astro";
import GCP from "@/icons/gcp.astro";
import TensorFlow from "@/icons/tensorflow.astro";
import Keras from "@/icons/keras.astro";
import Pandas from "@/icons/pandas.astro";
import Matplotlib from "@/icons/matplotlib.astro";
import SQLite from "@/icons/sqlite.astro";
import Jupyter from "@/icons/jupyter.astro";
import Postman from "@/icons/postman.astro";
import Marimo from "@/icons/marimo.astro";

import { skills } from "@cv";

const SKILLS_ICONS: Record<string, any> = {
  Git,
  GitHub,
  Python,
  FastAPI,
  PostgreSQL,
  Docker,
  Linux,
  VSCode,
  ScikitLearn,
  AWS,
  Streamlit,
  Airflow,
  GCP,
  TensorFlow,
  Keras,
  Pandas,
  Matplotlib,
  SQLite,
  Jupyter,
  Postman,
  Marimo,
};
---

<Section className={Astro.props.className} title="Skills">
  <ul
    class="inline-flex flex-wrap gap-6 [&>li>svg]:size-5 [&>li>svg]:text-skin-hue [&>li]:text-sm"
  >
    {
      skills.map(({ name }) => {
        const iconName = name === "Next.js" ? "Next" : name;
        const Icon = SKILLS_ICONS[iconName];

        return (
          <li class="border-skin-hue/20s bg-skin-button-accent/20s borders border-solids flex items-center gap-1 rounded-md px-2 py-0.5 text-xs text-skin-muted print:border-none print:bg-transparent print:p-0 print:text-zinc-800">
            {Icon && <Icon />} <span>{name}</span>
          </li>
        );
      })
    }
  </ul>
</Section>
