---

---

<div class="flex w-full max-w-7xl justify-center md:col-span-6 print:hidden">
  <p class="group mr-1 flex items-center space-x-1 text-xs">Credits to</p>
  <a
    href="https://github.com/Smilesharks/dev-portfolio"
    rel="noreferrer"
    target="_blank"
    class="group flex items-center space-x-1 text-xs"
  >
    <span
      class="hover:decoration- flex gap-1 underline decoration-dotted underline-offset-4 transition group-hover:underline-offset-4"
      >Ariel
    </span>
  </a>
  <br />
  <p class="group mx-1 flex items-center space-x-1 text-xs">~ Customized by</p>
  <a
    href="https://github.com/iBrokeTheCode"
    rel="noreferrer"
    target="_blank"
    class="group flex items-center space-x-1 text-xs"
  >
    <span
      class="hover:decoration- flex gap-1 underline decoration-dotted underline-offset-4 transition group-hover:underline-offset-4"
      >AlexRTC
    </span>
  </a>
</div>
